div{
    height: 50px;
    width: 100px;
    text-align: center;
    background-color: chartreuse;
    margin:300px 550px 300px; 
    box-shadow: 2px 2px 10px black;
}
div:hover{
    background-color: black;
}