h1{
    border: 2px solid black;
    width: 50%;
}
#outer{
    height: 300px;
    width: 300px;
    background-color: burlywood;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 20px; ;
}