.box{
    height: 100px;
    width: 100px;
    background-color: darkkhaki;
    border: 2px solid black;
}
.one{
    background-color: aqua;
    z-index: -1;
    position: relative;
    top: 50px;
    

}
.two{
    background-color: aquamarine;
    position: relative;
    z-index: 2;

}